.say-cheese {
  border-bottom: 1px solid #e8e8e8;
  clear: both;
}

#say-cheese-container {
  margin: 15px 15px 15px 5px;
/*  max-width: 400px;
  max-height: 480px;*/
  width: auto;
  height: auto;
  float: left;
  position: relative;
  padding-right: 0px;
}

#action-buttons {
  position: absolute;
  top: 15px;
  right: 25px;
  z-index: 5;
  display: none;
}

#button-actions button {
   cursor: pointer;
}

#say-cheese-container video {
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 8px 1px #808080;
  width: 100%    !important;
  max-width: 400px;
  height: auto   !important;
}
#say-cheese-snapshots {
  float: left;
  margin-top: 8px;
  width: 155px;
  max-height: 307px;
  height: 307px;
  overflow-y: auto;
  padding-left: 0px;
}

#say-cheese-snapshots img {
  display: block;
  padding: 2px;
  width: 140px;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 1px 5px 0px #808080;
  margin: 5px 0;
}

@media only screen and (min-width: 900px) {
  #say-cheese-container video {
    max-width: 640px;
  }
  #say-cheese-snapshots {
    width: 215px;
    max-height: 492px;
    height: 492px;
  }
  #say-cheese-snapshots img {
    width: 200px;
  }
}
